.fa-facebook{
    font-size: 25px;
    color: #1877f2;
}
.fa-youtube{
    font-size: 25px;
    color: #ff0000;
}
.fa-instagram{
    font-size: 25px;
    color: #833ab4;
}
.fa-github{
    font-size: 25px;
    color: #6e5494;
}
.fa-whatsapp{
    font-size: 25px;
    color: #075e54;
}
.fa-linkedin{
    font-size: 25px;
    color: #00a0dc;
}
.fa-tiktok{
    font-size: 25px;
    color: #000;
}